* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  pointer-events: none;
  z-index: 999;
}

.counter {
  position: fixed;
  left: 50px;
  bottom: 50px;
  display: flex;
  height: 50px;
  font-size: 50px;
  line-height: 78px;
  clip-path: polygon(0 0, 100% 0, 100% 45px, 0 45px);
  font-weight: 400;
}

.counter-1,
.counter-2,
.counter-3 {
  position: relative;
  top: -15px;
}

.num1offset1 {
  position: relative;
  right: -25px;
}
.num1offset2 {
  position: relative;
  right: -10px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 50px;
  transform: translate(-50%, -50%);
  display: flex;
  background: rgb(80, 80 80);
}

.loader-1 {
  position: relative;
  background: #fff;
  width: 200px;
}
.loader-2 {
  position: relative;
  width: 100px;
  background: #fff;
}

.bar {
  height: 50px;
}

#Layer_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 500px;
  display: block;
  margin: auto;
  stroke: rgb(170, 170, 170);
  fill-opacity: 0;
  stroke-width: 1px;
  stroke-dasharray: 3700;
  stroke-dashoffset: 0;
  animation: draw 7s ease-in;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 3700;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.Loading.hide {
  opacity: 0;
  transition: opacity 0.5s ease; /* Add transition for smooth opacity change */
  pointer-events: none; /* Disable pointer events on hidden loading screen */
}
