:root {
  --primary_color: #5b78f6;
  --dark: #323232;
}

.bodyy {
  font-size: 14px;
  scroll-behavior: smooth;
  color: #9f9f9f;
  line-height: 19.2px;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.shadow-box {
  position: relative;
  border-radius: 30px;
  background: #0f0f0f;
}
.shadow-box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: linear-gradient(to right, rgb(255 255 255 / 15%), rgb(255 255 255 / 1%)); */
  background: linear-gradient(
    120deg,
    rgb(255 255 255 / 12%),
    rgb(255 255 255 / 1%)
  );
  content: "";
  z-index: -1;
  border-radius: 30px;
  margin: -1px;
}

.shadow-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  border-radius: 30px;
  opacity: 0.25;
}
.shadow-box * {
  z-index: 2;
  position: relative;
}

/* # InfoBox */
.info-box {
  padding: 24px;
}
.credential-area .credential-sidebar .overlay-link,
.contact-area .contact-form .overlay-link,
.project-details-wrap .project-about-2 .overlay-link,
.project-details-wrap .project-infos-wrap .overlay-link,
.projects-area .project-item .overlay-link,
.about-area .about-edc-exp .overlay-link,
.about-area .about-image-box .overlay-link,
.about-area .about-me-box .overlay-link,
.info-box .overlay-link {
  left: 0;
  top: 0;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 9;
}
.credential-area .credential-sidebar .bg-img,
.contact-area .contact-form .bg-img,
.project-details-wrap .project-about-2 .bg-img,
.project-details-wrap .project-infos-wrap .bg-img,
.projects-area .project-item .bg-img,
.about-area .about-edc-exp .bg-img,
.about-area .about-image-box .bg-img,
.about-area .about-me-box .bg-img,
.info-box .bg-img {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-box > img {
  display: block;
  margin: auto auto 16px auto;
}
.info-box .infos h5 {
  color: #bcbcbc;
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.info-box .infos h2 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
}
.info-box .about-btn {
  opacity: 0.2;
  transition: 0.3s;
  display: inline-block;
}
.info-box:hover .about-btn {
  opacity: 1;
}
.info-box .inner-profile-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 22px;
  margin-bottom: 16px;
}
.info-box .inner-profile-icons.shadow-box:before {
  opacity: 0.1;
}
.info-box .inner-profile-icons.shadow-box:after {
  opacity: 0.5;
}
.info-box .inner-profile-icons a {
  width: 82px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: 0.3s;
  flex: none;
}
.info-box .inner-profile-icons a:hover {
  background: #3d3d3d;
  border: 1px solid rgb(167, 167, 167);
}
.info-box .inner-profile-icons a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.1;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(40px);
}
.info-box .inner-profile-icons a i {
  font-size: 32px;
}
.info-box.about-services-box .icon-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 42px;
  margin-top: 46px;
}
.info-box.about-services-box .icon-boxes i {
  font-size: 40px;
  color: #ffffff;
}
.info-box.about-client-box .clients .client-item {
  position: relative;
  border-radius: 30px;
  text-align: center;
  flex: 1;
  padding: 42px 30px 42px 30px;
}
.info-box.about-client-box .clients .client-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  border-radius: 30px;
}
.info-box.about-client-box .clients .client-item h2 {
  color: #ffffff;
  font-size: 34px;
  margin-bottom: 17px;
  line-height: 1.2;
  letter-spacing: -1px;
}
.info-box.about-client-box .clients .client-item p {
  font-size: 12px;
  color: #bcbcbc;
  opacity: 0.5;
  margin: 0;
  text-transform: uppercase;
}
.info-box.about-contact-box {
  padding-bottom: 42px;
  padding-top: 83px;
}
.info-box.about-contact-box h2 {
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  color: #fff;
  margin: 0;
}
.info-box.about-contact-box h2 span {
  color: var(--primary_color);
}
.info-box.about-contact-box .about-btn {
  position: absolute;
  display: block;
  right: 30px;
  bottom: 35px;
  opacity: 0.2;
  transition: 0.3s;
}
.info-box.about-contact-box:hover .about-btn {
  opacity: 1;
}
.info-box.about-contact-box .star-icon {
  position: absolute;
  left: 30px;
  top: 0;
  opacity: 0.5;
  margin: 0;
}
.info-box.about-profile-box,
.info-box.about-blog-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* # About */

.about-area {
  padding-top: 80px;
}
.about-area .about-me-box {
  position: relative;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.about-area .about-me-box .img-box {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  border: 1px solid #fff;
  border-radius: 30px 0 30px 0;
  flex: none;
}
.about-area .about-me-box .img-box img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.about-area .about-me-box .infos {
  padding-top: 30px;
  position: initial;
}
.about-area .about-me-box .infos h5 {
  color: #bcbcbc;
  opacity: 0.7;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-bottom: 3px;
}
.about-area .about-me-box .infos h1 {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 12px;
}
.about-area .about-me-box .infos p {
  letter-spacing: 0.3px;
  margin: 0;
}
.about-area .about-me-box .infos .about-btn {
  display: block;
  position: absolute;
  right: 30px;
  bottom: 30px;
  opacity: 0.2;
  transition: 0.3s;
}
.about-area .about-me-box:hover .infos .about-btn {
  opacity: 1;
}
.about-area .about-credentials-wrap .banner {
  padding: 17px 25px;
  margin-bottom: 24px;
}

.about-area .about-credentials-wrap .banner .marquee b {
  color: #fff;
  font-weight: 400;
}
.about-area .about-credentials-wrap .banner .marquee img {
  display: inline-block;
  margin: 0 5px;
}
.about-area .about-credentials-wrap > .gx-row > * {
  flex: 1;
  width: 50%;
}

.about-area .about-image-box {
  width: 370px;
  flex: none;
  padding: 24px;
  border-radius: 30px;
  max-width: 100%;
}
.about-area .about-image-box .image-inner {
  background: linear-gradient(90deg, #3c58e3 -15%, #c2ebff 58%, #5ab5e2 97%);
  border-radius: 30px;
}
.about-area .about-image-box img {
  display: block;
  border-radius: 30px;
}
.about-area .about-details {
  flex: 1;
}
.about-area .about-details .about-details-inner {
  padding: 115px 60px 30px 30px;
  position: relative;
}
.about-area .about-details .about-details-inner img {
  position: absolute;
  left: 30px;
  top: 0;
}
.about-area .about-details .about-details-inner h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
}
.about-area .about-details .about-details-inner p {
  color: #ffffff;
  opacity: 0.8;
  line-height: 25px;
  margin: 0;
  font-size: 16px;
}
.about-area .about-edc-exp {
  padding: 30px;
}
.about-area .about-edc-exp h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 23px;
}
.about-area .about-edc-exp ul {
  padding: 0;
}
.about-area .about-edc-exp ul li + li {
  margin-top: 32px;
}
.about-area .about-edc-exp ul li .date {
  color: #bcbcbc;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}
.about-area .about-edc-exp ul li h3 {
  font-size: 18px;
  color: #fff;
  opacity: 0.9;
  margin-bottom: 7px;
}
.about-area .about-edc-exp ul li .type {
  color: #bcbcbc;
  font-size: 14px;
  opacity: 0.6;
  font-weight: 400;
  margin: 0;
}

.main-aboutpage .about-area .about-contact-box {
  padding-top: 102px;
}

/* Responsive */
@media (max-width: 1090px) {
  .container {
    padding: 0 20px;
  }
  .about-area .about-me-box {
    padding: 40px 30px;
  }
  .about-area .about-me-box .img-box {
    width: 190px;
    height: 190px;
  }
  .about-area .about-me-box .infos {
    padding-top: 10px;
  }
  .about-area .about-me-box .infos h1 {
    font-size: 30px;
    line-height: 1.2;
  }
  .about-area .about-me-box .infos .about-btn {
    bottom: 25px;
  }
  .info-box {
    padding: 20px;
  }
  .info-box > img {
    width: 100%;
  }
  .info-box.about-services-box .icon-boxes {
    margin-bottom: 39px;
    margin-top: 31px;
  }
  .info-box .inner-profile-icons {
    padding: 16px;
  }
  .info-box .inner-profile-icons a {
    width: 62px;
    height: 62px;
  }
  .info-box .inner-profile-icons a i {
    font-size: 25px;
  }
  .info-box.about-contact-box .star-icon {
    width: auto;
  }
  .info-box.about-contact-box {
    padding-top: 74px;
  }
}

@media (max-width: 920px) {
  .about-area .container .row:first-child .col-md-6 {
    flex: 0 0 auto;
    width: 100%;
  }
  .about-area .about-me-box {
    margin-bottom: 24px;
  }
  .about-area .about-me-box .img-box {
    width: 300px;
    height: 300px;
  }
  .about-area .about-image-box {
    margin: auto;
  }
  .about-area .about-me-box .infos h1 {
    font-size: 36px;
    line-height: 1.2;
  }
  .info-box.about-client-box .clients .client-item {
    padding: 42px 10px 42px 10px;
  }
  .info-box.about-client-box .clients .client-item h2 {
    font-size: 26px;
    margin-bottom: 12px;
  }

  .about-area .container > .row:nth-child(2) .blog-service-profile-wrap {
    /* display: grid !important; */
    /* grid-template-columns: 1fr 1fr; */
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-area .container > .row:nth-child(2) .blog-service-profile-wrap > div {
    width: calc(50% - 12px);
  }
  .about-area
    .container
    > .row:nth-child(2)
    .blog-service-profile-wrap
    > div:nth-child(2) {
    order: 3;
  }
  .info-box.about-services-box .icon-boxes {
    gap: 40px;
  }
  .about-area .container > .row:nth-child(3) .col-md-6 {
    width: 100%;
  }
  .info-box.about-client-box {
    margin-bottom: 24px;
  }
}

@media (max-width: 810px) {
  .about-area .about-me-wrap {
    flex-direction: column;
    gap: 40px;
    align-items: center !important;
  }
  .project-details-wrap .project-infos-wrap {
    flex-direction: column;
    padding: 50px 24px 24px 24px;
  }
  .about-area .about-details .section-heading {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .about-area .about-experience {
    margin-bottom: 24px;
  }
}
@media (max-width: 585px) {
  .about-area .about-me-box {
    flex-direction: column;
  }

  .about-area .container > .row:nth-child(2) .blog-service-profile-wrap {
    grid-template-columns: 1fr;
  }
  .about-area .about-credentials-wrap > .gx-row {
    flex-wrap: wrap;
  }
  .about-area .about-credentials-wrap > .gx-row > * {
    width: 100%;
    flex: none;
  }

  .info-box.about-client-box .clients {
    /* display: grid !important;
        grid-template-columns: 1fr 1fr; */
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .info-box.about-client-box .clients .client-item {
    width: calc(50% - 12px);
    flex: none;
  }
  .info-box.about-contact-box h2 {
    font-size: 30px;
    line-height: 1.2;
  }

  .about-area .about-image-box {
    max-width: 370px;
    width: 100%;
  }
  .about-area .about-image-box {
    padding: 15px;
  }
  .about-area .about-details .about-details-inner h2,
  .section-heading {
    font-size: 26px;
  }
  .about-area .about-details .about-details-inner {
    padding-top: 80px;
  }
  .projects-area .container > .section-heading {
    display: flex;
    margin-bottom: 40px;
  }
  .projects-area .col-md-8 .section-heading {
    display: none;
  }
  .breadcrumb-area .breadcrumb-content .section-heading {
    font-size: 24px;
  }
  .project-details-wrap .project-details-3-img,
  .project-details-wrap .project-details-2-img {
    height: 250px;
  }
  .project-details-wrap .row .col-md-6:first-child .project-details-3-img {
    margin-bottom: 24px;
  }
  .project-details-wrap .project-about-2,
  .project-details-wrap .project-about-2 .left-details {
    padding: 30px;
  }
  .project-details-wrap .big-btn {
    margin-top: 50px;
    font-size: 25px;
    padding: 30px 46px;
  }

  .about-area .container > .row:nth-child(2) .blog-service-profile-wrap > div,
  .projects-area .project-item .project-img img {
    width: 100%;
  }
  .blog-area .blog-items .blog-item .img-box {
    height: 300px;
  }
}

.about-project-box .info-box > img {
  display: block;
  margin: auto auto 28px auto;
}
.about-blog-box .info-box > img {
  margin-bottom: 18px;
  display: block;
}
